.App {
  text-align: center;
  margin: calc(10px + 2vmin);
  background-image: url("./QSLandscapeBig.jpg");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  .App {
    text-align: center;
    margin: calc(10px + 2vmin);
    background-image: url("./QSLandscape.jpg");
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .App {
    text-align: center;
    margin: calc(10px + 2vmin);
    background-image: url("./QSLandscapeMedium.jpg");
    background-repeat: no-repeat;
  }
}

.App-header {
  padding-top: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.homeText {
  background: rgba(40, 44, 52, .8);
  color: #F8F8FF;
  border-radius: 10px;
  padding: 5px;
}

.App-link{
  color: #09d3ac;
  display: inline;
  margin: 5px;
}
.links {
  display: inline;
}

.typewriter h1 {
  color: #09d3ac;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}